#wrapper-settings-groupsyncwithrole, #crm-main-content-wrapper .CRM_Admin_Form_Generic table tbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    margin: 50px 0;
}

.disabled-option {
    color: #ccc;
    pointer-events: none;
    background-color: #1D2327;
    cursor: not-allowed;
}